body, html {
    height: 100%;
    margin: 0;
    font-family: 'Barlow Condensed', sans-serif;
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    color: #333333;
}
.container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
}
form {
    padding: 20px;
    background: rgba(255, 255, 255, 0.8);
    border: 1px solid #aaa;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
    border-radius: 8px;
}
textarea {
    width: 300px;
    height: 150px;
    margin-bottom: 10px;
    resize: none;
    border-radius: 4px;
}
input[type="submit"] {
    background-color: #334e68;
    color: white;
    border: none;
    padding: 10px 20px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}
h1 {
    text-align: center;
    color: #ffffff;
}
#result {
    background: white;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    border-radius: 8px;
}