<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LawyerAI</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="container">
        <h1 id="headerTitle">Argument Quality Analyzer</h1>
        <form id="argForm">
            <textarea name="text" placeholder="Enter your argument here..."></textarea><br>
            <input type="submit" value="Score">
        </form>
    </div>
    <div id="result"></div>
    <script>
        document.getElementById('argForm').onsubmit = function(event) {
            event.preventDefault();
            var formData = new FormData(this);
            fetch('/evaluate', {
                method: 'POST',
                body: formData
            }).then(response => response.json()).then(data => {
                document.getElementById('argForm').style.display = 'none';
                document.getElementById('headerTitle').style.display = 'none';
                var container = document.querySelector('.container');
                container.style.display = 'none';
                var resultDiv = document.getElementById('result');
                if (data['Quality Score'] === 0) { // if the argument is too short
                    resultDiv.innerHTML = "<br><strong>Error:</strong> The model is unable to score your provided argument";
                } else {
                    resultDiv.innerHTML = "<strong>Argument:</strong> " + data.Argument + "<br><strong>Quality Score:</strong> " + data['Quality Score'] + '%';
                }
                resultDiv.style.display = 'block';
            }).catch(error => console.error('Error:', error));
        };
    </script>
</body>
</html>